.sidenav-buttons {
    height: 80px;
}

.sidenav-buttons .mat-mini-fab:focus {
    outline: none;
    border: 0;
}

.sidenav-buttons .mat-mini-fab {
    margin: 25px 5px 10px 10px;
}

.sidenav-menu {
    padding-top: 10px;
}