.brand {
    display: inline-block;
}

.ev-mini-logo {
    height: 30px;
}

.mini{
    font-size: 0.7em;
    opacity: 0.6;
}

.mini.welcome {
    margin-right: 5px;
}

.ev-toolbar {
    /* background: #303D74; */
    color: white;
    position: relative;
    font-family: 'Noto Sans', sans-serif !important;
}

.ev-toolbar::before {
    content: '';
    background: url("/assets/images/header-bg.jpg") center;
    background-size: cover;
    height: 140px;
    width: 100%;
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
}