<form (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Crear Panel de característica de producto</h2>

  <mat-dialog-content>

    <mat-form-field class="full-width-modal">
      <input [(ngModel)]="formData.title" name="name" type="text" matInput placeholder="Título">
    </mat-form-field>

    <ckeditor [(ngModel)]="formData.description" name="description" [config]="editorConfig" debounce="0"></ckeditor>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false" [disabled]="lockForm">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="lockForm">Aceptar</button>
  </mat-dialog-actions>

  <mat-progress-bar mode="indeterminate" *ngIf="lockForm"></mat-progress-bar>

</form>