<mat-card>
  <h3>Detalles del producto</h3>
    <button mat-raised-button color="primary" class="detail-add-button" (click)="newDetail()">
      <mat-icon>add</mat-icon>
      Nuevo detalle
    </button>
    <mat-table #table [dataSource]="tableData" *ngIf="details.length > 0">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Parámetro</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
        <mat-cell *matCellDef="let detail">{{ detail.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let detail">
          <button class="detail-edit-button" mat-button (click)="editDetail(detail.id)"><mat-icon>edit</mat-icon></button>
          <button class="detail-edit-button" mat-button (click)="deleteDetail(detail.id)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['name', 'description', 'edit']"></mat-header-row>
      <mat-row *matRowDef="let data; columns: ['name', 'description', 'edit']"></mat-row>
    </mat-table>
</mat-card>