.product-code {
    font-size: 0.5em;
    color: #888;
}

.product-subtype {
    font-size: 0.7em;
    margin-right: 10px;
    color: #666;
}

.edit-product-button {
    font-size: 0.5em;
    float: right;
    color: #555;
}