<h1>Gestión de elementos multimedia</h1>
<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matListIcon>photo</mat-icon>
        &nbsp;<span matLine>Imágenes</span>
      </ng-template>
      <app-media-images></app-media-images>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matListIcon>ondemand_video</mat-icon>
        &nbsp;<span matLine>Videos</span>
      </ng-template>
      <app-media-youtube></app-media-youtube>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matListIcon>collections</mat-icon>
        &nbsp;<span matLine>Galería</span>
      </ng-template>
      <app-media-gallery></app-media-gallery>
    </mat-tab>
  </mat-tab-group>
</mat-card>