<div class="login-box">
  <form [formGroup]="loginform" (ngSubmit)="login()" [ngClass]="{vibrating: invalidAnimate}">
  <div class="logo">
      <img src="assets/images/logo.png" alt="Estética Visión">
  </div>
  <mat-card>

    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>
        Panel de Administración
      </mat-card-title>
      <mat-card-subtitle>
        Indique sus datos de acceso
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" formControlName="email">
        <mat-error *ngIf="email.errors?.required">El email es requerido</mat-error>
        <mat-error *ngIf="email.errors?.email && !email.errors?.required">Debe ingresar un email válido</mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" type="password" formControlName="password">
        <mat-error *ngIf="password.errors?.required">La contraseña es requerida</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="remember">
        Recordarme
      </mat-checkbox>

      <div class="login-error" *ngIf="errorlogin.active">
        {{errorlogin.message}}
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Conectarse</button>
    </mat-card-actions>
  </mat-card>
  </form>
</div>

