<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="settings-home-banner">URL del Banner</label>
    <input class="form-control" type="url" name="settings-home-banner" id="settings-home-banner" [(ngModel)]="bannerUrl">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="lockForm">Guardar</button>
  <button type="button" (click)="loadFromGallery()" class="btn btn-success" [disabled]="lockForm">Seleccionar desde galería</button>
  <button type="button" (click)="forgetBanner()" class="btn btn-danger" [disabled]="lockForm">Eliminar</button>
</form>

<div *ngIf="actual">
  <div>
    Actualmente seleccionado:
  </div>
  <img [src]="actual" alt="banner">
</div>